<launch>
    <!-- //Launch params
    <rosparam command="load" file = "/home/victor/ROS_ws/src/robot_delta/cfg/params.cfg" param = "my_parameters" /> -->

    // Launch nodes
    <node name = "admittance_controller_node" pkg = "robot_delta" type="admittance_controller_node" output="screen" />
    <node name = "force_sensor_node" pkg = "robot_delta" type = "force_sensor_node" output ="screen" />

</launch>