<launch>

    <arg name="test" default="true"/>

    <group if="$(arg test)">
        <node name = "admittance_controller_node" pkg = "robot_delta" type="admittance_controller_node" output="screen" />
        <node name = "dummy_test_node" pkg = "robot_delta" type = "dummy_test_node" output ="screen" />
    </group>

    <!--Only launch admittance_controller_node -->
    <node name = "admittance_controller_node" pkg = "robot_delta" type="admittance_controller_node" output="screen" />

</launch>